@tailwind base;
@tailwind components;
@tailwind utilities;

@import "sweetalert2/dist/sweetalert2.min.css";
@import "toastr/build/toastr.min.css";
@import "datatables.net-dt/css/jquery.dataTables.css";
